<html>

<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

<script type="text/javascript">

    function addCalendarToPage(cal) {
        var tbody = $("#tbody")

        var container = $('<tr></tr>')

        // summary
        container.append("<td>" + cal.id + "</td>")
        container.append("<td>" + cal.summary + "</td>")
        container.append("<td>" + cal.description + "</td>")
        container.append("<td>" + cal.backgroundColor + "</td>")
        container.append("<td>" + cal.foregroundColor + "</td>")


        tbody.append(container)
    }

    $(function() {
        var iFrameSourceString = "https://calendar.google.com/calendar/embed?mode=WEEK&height=600&wkst=1&bgcolor=%23FFFFFF&";

        var calendars = <%- JSON.stringify(calendars) %>;
        for (var i = 0; i < calendars.length; i++) {
            var cal = calendars[i]
            addCalendarToPage(cal)

            iFrameSourceString = iFrameSourceString + "&src=" + encodeURIComponent(cal.id) + "&color=" + encodeURIComponent(cal.backgroundColor)
        };

        iFrameSourceString += "&ctz=America%2FNew_York";

        var $iFrame = $("<iFrame>", {"src": iFrameSourceString, "style": "border-width:0", "width": "800", "height": "600", "frameborder": "0", "scrolling": "no"});

        $("#calendarsBody").append($iFrame);
    })

</script>
</head>

<body id="calendarsBody">

    <nav class="navbar navbar-light bg-faded">
        <span class="navbar-text float-xs-right text-muted">
            <a class="btn btn-primary" href='/logout' role="button">Logout</a>
        </span>
    </nav>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Summary</th>
                <th>Description</th>
                <th>Background Color</th>
                <th>Foreground Color<th>
            </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
    <br />
</body>

</html>