<html>

<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

<script type="text/javascript">

    function addEventToPage(ev) {
        var eventsDiv = $("#events")
        console.log(ev.summary)

        var container = $('<div></div>')
        container.append("<p>" + ev.summary + "</p>")

        eventsDiv.append(container)
    }

    $(function() {
        var events = <%- JSON.stringify(events) %>
        console.log(events)
        for (var i = 0; i < events.length; i++) {
            var ev = events[i]
            addEventToPage(ev)
        };
    })

</script>
</head>

<body>
    <div id="events">
    </div>
</body>

</html>