<html>
    <head>
        <meta http-equiv="X-Frame-Options" content="allow">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

        <script type="text/javascript">
            var email = <%- JSON.stringify(email) %>
            var calendars = <%- JSON.stringify(calendars) %>
        </script>
        <script src="/home.js" type="text/javascript"></script>
    </head>

    <body>

        <nav class="navbar navbar-light bg-faded">
            <a class="navbar-brand" href="#"><%= email %></a>
            <span class="navbar-text float-xs-right text-muted">
              <a class="btn btn-primary" href='/' role="button">Home</a>
              <a class="btn btn-primary" href='/settings' role="button">Settings</a>
              <a class="btn btn-primary" href='/logout' role="button">Logout</a>
            </span>
        </nav>
        <br/>
        <form class="row" method="post" action="/allocate">
            <div class="form-group col-sm-8 offset-sm-2">
              <label for="eventTitle" class="col-xs-4 col-form-label">Event Title:</label>
              <div class="col-xs-8">
                <input class="form-control" type="text" placeholder="German homework..." name="eventTitle" onfocus="showFormExtras()" onblur="toggleFormExtras()">
              </div>
            </div>
            <div id="formExtras" style="display: none;">
              <div class="form-group col-sm-8 offset-sm-2">
                <label for="estimatedHours" class="col-xs-4 col-form-label">Estimated Hours:</label>
                <div class="col-xs-8">
                  <input class="form-control" type="number" placeholder="12" name="estimatedHours">
                </div>
              </div>
              <div class="form-group col-sm-8 offset-sm-2">
                <label for="example-datetime-local-input" class="col-xs-4 col-form-label">Due Date:</label>
                <div class="col-xs-8">
                  <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id = "dueDate" name="dueDate">
                </div>
              </div>
              <div class="form-group col-sm-8 offset-sm-2">
                <label for="workTimePreference" class="col-xs-4 col-form-label">Work Time Preference:</label>
                <div class="col-xs-8">
                  <select class="form-control" name="workTimePreference">
                    <option value="m">Morning</option>
                    <option value="a">Afternoon</option>
                    <option value="e">Evening</option>
                    <option value="n">Night</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-sm-8 offset-sm-2">
                <label for="sleepTime" class="col-xs-4 col-form-label">Sleep Time:</label>
                <div class="col-xs-8">
                  <input class="form-control" type="time" value="13:45:00" id = "sleepTime" name="sleepTime">
                </div>
              </div>
              <div class="form-group col-sm-8 offset-sm-2">
                <label for="wakeTime" class="col-xs-4 col-form-label">Wake Time:</label>
                <div class="col-xs-8">
                  <input class="form-control" type="time" value="13:45:00" id = "wakeTime" name="wakeTime">
                </div>
              </div>
              <button type="submit" class="btn btn-primary offset-sm-3 col-sm-6">Allocate Task</button>
            </div>
        </form>

        <div id="iFrameDiv">
          <!-- <iframe src="https://calendar.google.com/calendar/embed?src=<%= email %>&ctz=America/New_York" style="border: 0; width: 100%; height: 600px" frameborder="0" scrolling="no"></iframe> -->
        </div>

    </body>

</html>
