<html>

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
</head>

<body class="container">
    <script type="text/javascript">
    $(function() {
        var settings = <%- JSON.stringify(settings) %>
        console.log(settings)
        if (settings !== null) {
            var bestTime = settings.bestTime
            var sleepTime = settings.sleepTime[0]
            var wakeTime = settings.sleepTime[1]

            // format best time form
            $("#workTimePreference").val(bestTime)

            // format sleep time form
            if (sleepTime.substr(0, 2) <= "11") {
                $("#sleepTimeSuffix").val("am")
            } else {
                $("#sleepTimeSuffix").val("pm")
                sleepTime = "0" + (parseInt(sleepTime.substr(0, 2)) - 12).toString() + sleepTime.substr(2)
            }
            if (sleepTime.substr(0, 2) === "00") {
                sleepTime = "12" + sleepTime.substr(2)
            }
            var formattedSleepTime = sleepTime.substr(0, 2) + ":" + sleepTime.substr(2)
            $("#sleepTime").val(formattedSleepTime)

            // format wake time form
            if (wakeTime.substr(0, 2) <= "11") {
                $("#wakeTimeSuffix").val("am")
            } else {
                $("#wakeTimeSuffix").val("pm")
                wakeTime = "0" + (parseInt(wakeTime.substr(0, 2)) - 12).toString() + wakeTime.substr(2)
            }
            if (wakeTime.substr(0, 2) === "00") {
                wakeTime = "12" + wakeTime.substr(2)
            }
            var formattedWakeTime = wakeTime.substr(0, 2) + ":" + wakeTime.substr(2)
            $("#wakeTime").val(formattedWakeTime)
        }
    })
    </script>

    <form class="form-inline">
      <div class="form-group">
        <label for="workTimePreference">Work time preference</label>
        <select class="form-control" id="workTimePreference">
          <option value="m">Morning</option>
          <option value="a">Afternoon</option>
          <option value="e">Evening</option>
          <option value="n">Night</option>
        </select>
      </div>
    </form>
    <form class="form-inline">
      <div class="form-group">
        <label for="sleepTime">What time do you go to sleep?</label>
        <input type="email" class="form-control" id="sleepTime" aria-describedby="emailHelp" placeholder="Enter email">
        <select class="form-control" id="sleepTimeSuffix">
          <option value="am">AM</option>
          <option value="pm">PM</option>
        </select>       
      </div>
    </form>
    <form class="form-inline">
      <div class="form-group">
        <label for="wakeTime">What time do you wake up?</label>
        <input type="email" class="form-control" id="wakeTime" aria-describedby="emailHelp" placeholder="Enter email">
        <select class="form-control" id="wakeTimeSuffix">
          <option value="am">AM</option>
          <option value="pm">PM</option>
        </select> 
      </div>
    </form>
</body>

</html>
