<html>

  <head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
  </head>

  <body class="container">
    <script type="text/javascript">
      $(function() {
        var settings = <%- JSON.stringify(settings) %>
        console.log(settings)
        if (settings !== null) {
            var bestTime = settings.bestTime
            var sleepTime = settings.sleepTime[0]
            var wakeTime = settings.sleepTime[1]

            // format best time form
            $("#workTimePreference").val(bestTime)

            // format sleep time form
            var formattedSleepTime = sleepTime.substr(0, 2) + ":" + sleepTime.substr(2) + ":00"
            $("#sleepTime").val(formattedSleepTime)

            // format wake time form
            var formattedWakeTime = wakeTime.substr(0, 2) + ":" + wakeTime.substr(2) + ":00"
            $("#wakeTime").val(formattedWakeTime)
        }
      })

      var submitForm = function() {
        var bestTime = $("#workTimePreference").val()
        var sleepTime = $("#sleepTime").val()
        var wakeTime = $("#wakeTime").val()

        // format sleep time
        var formattedSleepTime = sleepTime.replace(":", "").substr(0, 4)
        console.log(formattedSleepTime)

        // format wake time
        var formattedWakeTime = wakeTime.replace(":", "").substr(0, 4)
        console.log(formattedWakeTime)

        var data = {
          bestTime: bestTime,
          sleepTimes: [parseInt(sleepTime), parseInt(wakeTime)]
        }

        $.ajax({
          url: "/settings",
          data: data,
          success: function() {
            console.log("yay")
          },
          error: function(err) {
            console.log(err)
          }
        })
      }
    </script>

    <form class="form-inline">
      <div class="form-group">
        <label for="workTimePreference">Work time preference</label>
        <select class="form-control" id="workTimePreference">
          <option value="m">Morning</option>
          <option value="a">Afternoon</option>
          <option value="e">Evening</option>
          <option value="n">Night</option>
        </select>
      </div>
    </form>
    <form class="form-inline">
      <div class="form-group">
        <label for="sleepTime">What time do you go to sleep?</label>
        <div class="col-xs-10">
          <input class="form-control" type="time" value="13:45:00" id="sleepTime">
        </div>
      </div>
    </form>
    <form class="form-inline">
      <div class="form-group">
        <label for="wakeTime">What time do you wake up?</label>
        <div class="col-xs-10">
          <input class="form-control" type="time" value="13:45:00" id="wakeTime">
        </div>
      </div>
    </form>
    <button type="button" class="btn btn-primary" onclick="submitForm()">Submit</button>
  </body>

</html>
