<html>

  <head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/f8ebc31515.js"></script>
    <script>
      var settings = <%- JSON.stringify(settings) %>
    </script>
    <script src="/settings.js"></script>
    <style>
      /* form styling */
      .col-xs-10 { padding-left: 0px; padding-top: 10px; }

      /* loading icon styling */
      #postStatus { font-size: 16px; }
      .fa-check { color: green }
      .fa-times { color: red }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" href="#">Settings</a>
        <span class="navbar-text float-xs-right text-muted">
          <a class="btn btn-primary" href='/' role="button">Home</a>
          <a class="btn btn-primary" href='/settings' role="button">Settings</a>
          <a class="btn btn-primary" href='/logout' role="button">Logout</a>
        </span>
    </nav>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <form class="form-inline">
            <div class="form-group">
              <div class="col-xs-10">
                <label for="workTimePreference">Work time preference:</label>
                <select class="form-control" id="workTimePreference">
                  <option value="m">Morning</option>
                  <option value="a">Afternoon</option>
                  <option value="e">Evening</option>
                  <option value="n">Night</option>
                </select>
              </div>
              <div class="col-xs-10">
                <label for="sleepTime">What time do you go to sleep?</label>
                <input class="form-control" type="time" value="23:30:00" id="sleepTime">
              </div>
              <div class="col-xs-10">
                <label for="wakeTime">What time do you wake up?</label>
                <input class="form-control" type="time" value="08:00:00" id="wakeTime">
              </div>
            </div>
          <button type="button" class="btn btn-primary" onclick="submitForm()">Submit</button>
          <i id='postStatus'></i>
        </form>
        </div>
    </div>

  </body>

</html>
